:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(252, 252, 243);
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(36, 34, 26);
    background-color: rgb(252, 252, 243);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  display: flex;
  justify-content: center;
}