:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(252, 252, 243);
  color: rgb(56, 53, 40);
}

body {
  display: flex;
  justify-content: center;
}